#body .mermaid {
  .titleText, .milestoneText, .tick text {
    fill: white!important;
  }

  .milestoneText, .taskText, .tick text {
    font-size: 14px!important;
  }

  .messageText {
    fill: white!important;
    stroke: white!important;
    font-size: 18px!important;
  }

  .messageLine0 {
    stroke: white!important;
  }

  #arrowhead path {
    fill: white!important;
    stroke: white!important;
  }
}
